.root {
    -fx-background-color: linear-gradient(to bottom right, #e0e8f0, #a3b8d6); /* Dégradé de couleur */
}

.text {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-font-size: 15px;
}

.text-field {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-font-size: 15px;
    -fx-background-color: #fff; /* Couleur de fond */
    -fx-background-radius: 5px; /* Arrondi des bords */
    -fx-border-color: #ccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 5px; /* Arrondi des bords */
    -fx-padding: 5px;
}

.text-field:focused {
    -fx-border-color: #264653; /* Couleur de la bordure lorsqu'en focus */
}

.label-error {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-font-size: 12px;
    -fx-text-fill: #c31717; /* Couleur du texte */
}

.button-bar {
    -fx-background-color: transparent; /* Couleur de fond transparente */
}

.button {
    -fx-font-family: 'Segoe UI', sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #fff; /* Couleur du texte */
    -fx-background-color: #5e81ac; /* Couleur de fond */
    -fx-background-radius: 5px; /* Arrondi des bords */
    -fx-border-radius: 5px; /* Arrondi des bords */
    -fx-padding: 10px 20px;
}

.button:hover {
    -fx-background-color: #2e6da4; /* Couleur de fond au survol */
}

.button:pressed {
    -fx-background-color: #1c4f82; /* Couleur de fond lorsqu'appuyé */
}
