#msg {
    -fx-font-size: 32;
    -fx-font-family: "Berlin Sans FB";
}

#tf{
    -fx-background-radius: 20 0 0 20;
    -fx-font-size: 17;
    -fx-font-family: "Berlin Sans FB";
}

#btn {
    -fx-background-radius: 60;
    -fx-text-fill: white;
    -fx-background-color: #3b5998;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 17;
}

#scroll {
    -fx-background-color: #dfe3ee;
    -fx-background-radius: 10;
    border-radius:10;
    -fx-font-family: "Berlin Sans FB";
}
#vbox_messages {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: #dfe3ee;
    -fx-border-radius: 10;
    -fx-font-size: 15;
    -fx-font-family: "Berlin Sans FB";
}
#txt {
    -fx-font-size: 20px;
}

